In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('train.csv')

In [3]:
base.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
base.shape

(8693, 14)

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [6]:
# Contar valores nulos em cada coluna
null_counts = base.isnull().sum()

# Ordenar as colunas pelo número de valores nulos em ordem decrescente
null_counts_sorted = null_counts.sort_values(ascending=False)

# Exibir o resultado
print(null_counts_sorted)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
Spa             183
FoodCourt       183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

In [7]:
(base.isnull().sum()/base.shape[0]).sort_values(ascending=False).head(20)

CryoSleep       0.024963
ShoppingMall    0.023927
VIP             0.023352
HomePlanet      0.023122
Name            0.023007
Cabin           0.022892
VRDeck          0.021627
Spa             0.021051
FoodCourt       0.021051
Destination     0.020936
RoomService     0.020821
Age             0.020591
PassengerId     0.000000
Transported     0.000000
dtype: float64

In [8]:
eliminar = base.columns[(base.isnull().sum()/base.shape[0]) > 0.1]
eliminar

Index([], dtype='object')

In [9]:
base = base.drop(eliminar, axis=1)

In [10]:
(base.isnull().sum()/base.shape[0]).sort_values(ascending=False).head(20)

CryoSleep       0.024963
ShoppingMall    0.023927
VIP             0.023352
HomePlanet      0.023122
Name            0.023007
Cabin           0.022892
VRDeck          0.021627
Spa             0.021051
FoodCourt       0.021051
Destination     0.020936
RoomService     0.020821
Age             0.020591
PassengerId     0.000000
Transported     0.000000
dtype: float64

In [11]:
colunas = base.columns[base.dtypes != 'object']
colunas

Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported'],
      dtype='object')

In [12]:
base2 = base.loc[:, colunas]
base2.head()

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0  39.0          0.0        0.0           0.0     0.0     0.0        False
1  24.0        109.0        9.0          25.0   549.0    44.0         True
2  58.0         43.0     3576.0           0.0  6715.0    49.0        False
3  33.0          0.0     1283.0         371.0  3329.0   193.0        False
4  16.0        303.0       70.0         151.0   565.0     2.0         True

In [13]:
base2.isnull().sum().sort_values(ascending=False).head(20)

ShoppingMall    208
VRDeck          188
FoodCourt       183
Spa             183
RoomService     181
Age             179
Transported       0
dtype: int64

In [14]:
base2 = base2.fillna(-1)

In [15]:
base2.isnull().sum().sort_values(ascending=False).head(20)

Age             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [16]:
#selecionando X e y
X = base2.drop('Transported',axis = 1)
y = base2.Transported

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
#Separando essa base em treino e teste 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [19]:
# Importando a regressão linear
from sklearn.linear_model import LinearRegression

In [20]:
#Criando o regressor e fazendo o fit com os dados de treino
reg_rl = LinearRegression().fit(X_train, y_train)

In [21]:
#Fazendo a previsão com os dados de teste
y_rl = reg_rl.predict(X_test)

In [22]:
# Importando a arvore de regressao
from sklearn import tree

In [23]:
#Criando o regressor e fazendo o fit com os dados de treino
reg_ar = tree.DecisionTreeRegressor(random_state=42).fit(X_train, y_train)

In [24]:
# Fazendo a previsão com os dados de teste
y_ar = reg_ar.predict(X_test)

In [25]:
#Importando o KNN
from sklearn.neighbors import KNeighborsRegressor

In [26]:
# Criando o reressor KNN e fazendo o fit com os dados de treino
reg_knn = KNeighborsRegressor(n_neighbors=2).fit(X_train, y_train)

In [27]:
# Fazendo a previsão
y_knn = reg_knn.predict(X_test)

In [28]:
#Importando o erro medio absoluto
from sklearn.metrics import mean_absolute_error

In [29]:
# Importando o erro quadrático médio
from sklearn.metrics import mean_squared_error

In [30]:
# Avaliando o erro da regressao
print(mean_absolute_error(y_test,y_rl))
print(mean_squared_error(y_test,y_rl))

0.44333955635805405
0.21030686400401516

In [31]:
# da arvore de decisao
print(mean_absolute_error(y_test,y_ar))
print(mean_squared_error(y_test,y_ar))

0.32040707459164225
0.2575520592384425

In [32]:
# e do KNN
print(mean_absolute_error(y_test,y_knn))
print(mean_squared_error(y_test,y_knn))

0.30097594980829556
0.22926106657371906

In [33]:
#importando o matplotlib
import matplotlib.pyplot as plt

In [34]:
#Importando a base de teste
teste = pd.read_csv('test.csv')
teste.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [35]:
teste = teste.drop(eliminar, axis=1)

In [36]:
colunas2 = teste.columns[teste.dtypes != 'object']
colunas2

Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')

In [37]:
teste = teste.loc[:, colunas2]

In [38]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           4186 non-null   float64
 1   RoomService   4195 non-null   float64
 2   FoodCourt     4171 non-null   float64
 3   ShoppingMall  4179 non-null   float64
 4   Spa           4176 non-null   float64
 5   VRDeck        4197 non-null   float64
dtypes: float64(6)
memory usage: 200.6 KB

In [39]:
teste.isnull().sum().sort_values(ascending=False).head(20)

FoodCourt       106
Spa             101
ShoppingMall     98
Age              91
RoomService      82
VRDeck           80
dtype: int64

In [40]:
teste = teste.fillna(-1)

In [41]:
#Usando a regressao linear para fazer previsoes
y_pred = reg_rl.predict(teste)

In [42]:
#Adicionar essa coluna de previsao na nossa base
teste['Transported'] = y_pred

In [47]:
# Supondo que você tenha um DataFrame original que contém a coluna 'PassengerId'
# Vamos adicionar a coluna 'PassengerId' ao DataFrame 'teste'

# Carregar o DataFrame original que contém a coluna 'PassengerId'
original_df = pd.read_csv('test.csv')

# Adicionar a coluna 'PassengerId' ao DataFrame 'teste'
teste['PassengerId'] = original_df['PassengerId']

# Agora você pode acessar a coluna 'PassengerId' sem erros
resultado = teste[['PassengerId', 'Transported']]

In [54]:
teste['Transported'] = teste['Transported'].round().astype(bool)

In [55]:
# e extrair somente o Id e o SalePrice
resultado = teste[['PassengerId','Transported']]

In [56]:
teste.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerId
0,27.0,0.0,0.0,0.0,0.0,0.0,True,0013_01
1,19.0,0.0,9.0,0.0,2823.0,0.0,False,0018_01
2,31.0,0.0,0.0,0.0,0.0,0.0,True,0019_01
3,38.0,0.0,6652.0,0.0,181.0,585.0,True,0021_01
4,20.0,10.0,0.0,635.0,0.0,0.0,True,0023_01

In [57]:
#exportar essa base para CSV
resultado.to_csv('resultado1.csv', index=False)